// Variables
$topbar-height: rem-calc(72);
$headband-height: rem-calc(8);
$header-height: $topbar-height + $headband-height;
$panel-height: calc(100vh - #{$header-height});
$primary-color-dark: #2a7cc7; // for gradient endpoint

// Responsive spacing for top
$vertical-spacing: (
  small: rem-calc(36),
  medium: rem-calc(60)
);

// Responsive spacing for sides
$side-margins: (
  small: rem-calc(20),
  medium: rem-calc(24),
  large: rem-calc(30)
);

// Responsive margins
@mixin side-margins($properties: padding-left padding-right) {
  @each $size, $value in $side-margins {
    @if ($size == 'small') {
      @each $prop in $properties {
        #{$prop}: $value;
      }
    } @else {
      @include breakpoint($size up) {
        @each $prop in $properties {
          #{$prop}: $value;
        }
      }
    }
  }
}

// Style overrides
.button {
  font-family: inherit;
  font-weight: $global-weight-bold;
  letter-spacing: rem-calc(.8);
  text-transform: uppercase;

  @include breakpoint(medium up) {
    padding-left: rem-calc(23);
    padding-right: rem-calc(23);
  }
}

html {
  &.is-reveal-open {
    &,
    body {
      min-width: 100%; // fix layout bug when reveal is used
      position: static; // don't scroll page when reveal modal is open
    }
  }
}

.reveal-overlay {
  overflow-y: auto;
}

.reveal {
  top: 50vh;
  transform: translateY(-50%);

  .button {
    margin: rem-calc(8 0 0);
  }

  .close-button {
    font-size: inherit;
    top: 1rem;
  }

  @include breakpoint(small only) {
    height: auto;
    left: auto;
    margin-left: auto;
    min-height: auto;
    width: calc(100vw - #{map-get($side-margins, small)} * 2);
  }

  .content {
    background: $white;
    padding: rem-calc(36 20);
    position: relative;

    @include breakpoint(medium up) {
      padding: rem-calc(60);
    }
  }
}

// Custom styles
.feature {
  @include clearfix;
  padding-left: 2.5rem;

  [class^='fi-'] {
    color: $light-gray;
    float: left;
    font-size: 2rem;
    line-height: 1;
    height: 1em; // avoid Firefox subpixel issue
    margin: -.3rem 1rem 0 -2.5rem;
  }
}

.store-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: relative;

  &::after {
    background-color: transparentize($black, .5);
    border-radius: rem-calc(6);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .25s ease-out;
  }

  &:hover {
    background-color: transparent;

    &::after {
      opacity: .5;
    }
  }

  &:focus { background-color: transparent; }

  &.app-store {
    img { height: rem-calc(48); }
  }

  &.play-store {
    img {
      // Match the app store button
      $included-padding: 41;
      $total-height: 250;
      $target-height: 48;
      $scale: $target-height / ($total-height - $included-padding * 2);
      height: rem-calc($total-height * $scale);
      margin: rem-calc(-$included-padding * $scale);
      max-width: none;
    }
  }
}
