.eap {
  background: no-repeat center;
  background-size: cover;
  color: $white;
  display: flex;
  min-height: $panel-height;
  position: relative;
  width: 100%;

  @include breakpoint(medium down) {
    &.image-interest-left { background-position: 25%; }
    &.image-interest-right { background-position: 75%; }
  }

  &::before {
    background-image: linear-gradient($primary-color, $primary-color-dark);
    content: '';
    height: 100%;
    opacity: .9;
    position: absolute;
    width: 100%;
  }

  .content {
    @include flex-align-self(middle);
    padding: map-get($vertical-spacing, small) map-get($side-margins, small);
    position: relative;
    width: 100%;

    @include breakpoint(medium up) {
      padding: map-get($vertical-spacing, medium) 0;
    }

    p {
      margin-bottom: map-get($vertical-spacing, small);

      @include breakpoint(medium) {
        margin-bottom: map-get($vertical-spacing, medium);
      }
    }
  }

  label {
    @include clearfix;
    color: $white;
    position: relative;
  }

  select,
  input {
    &:not([type='button'], [type='submit']) {
      height: rem-calc(48);
      line-height: inherit;
      margin-top: rem-calc(8);
      padding-left: rem-calc(16);
      padding-right: rem-calc(16);
    }
  }

  select {
    background-image: url('../images/ic-chevron-light-small.svg');
    background-position: right center;
    background-size: 10px 7px;
  }

  .button {
    @include button-style($white, auto, $primary-color);
    line-height: 1;
    margin: (map-get($vertical-spacing, small) - rem-calc(24)) 0 0;
    @include breakpoint(medium) { margin-top: map-get($vertical-spacing, medium) - rem-calc(24); }
  }

  // validation
  .is-invalid-input {
    &:not(:focus) {
      box-shadow: 0 0 0 2px $alert-color;
    }
  }

  .form-error {
    @include horizontal-center;
    background: $alert-color;
    border-radius: $global-radius;
    bottom: 100%;
    color: $white;
    margin: 0 0 rem-calc(8);
    padding: rem-calc(12 16);
    text-align: center;
    white-space: nowrap;
    width: 100%;

    @include breakpoint(medium down) {
      &::after {
        @include horizontal-center;
        @include css-triangle(rem-calc(8), $alert-color, down);
        top: 100%;
      }
    }

    @include breakpoint(medium) {
      width: auto;
    }

    @include breakpoint(large) {
      bottom: rem-calc(24);
      left: calc(100% + #{map-get($grid-column-gutter, small)});
      margin-bottom: 0;
      text-align: left;
      transform: none;
      width: calc(50% - #{map-get($grid-column-gutter, medium)} / 2);

      &::after {
        @include vertical-center;
        @include css-triangle(rem-calc(8), $alert-color, left);
        right: 100%;
      }
    }
  }

  .medium-6 {
    &.columns {
      @include breakpoint(large) {
        &:first-child {
          .form-error {
            left: calc(200% + #{map-get($grid-column-gutter, small)} * 2);
          }
        }

        .form-error {
          width: 100%;
        }
      }
    }
  }

  // fix foundation specificity bug
  .small-collapse {
    .row {
      @include breakpoint(medium up) {
        @include grid-row-nest;
      }
    }
  }
}
