.eap {
  min-height: $panel-height;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  display: flex;
  color: $white;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient($primary-color, #2a7cc7);
    opacity: 0.9;
  }

  .content {
    padding: rem-calc(36) map-get($side-margins, small);
    position: relative;
    width: 100%;
    @include flex-align-self(middle);

    @include breakpoint(medium up) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  form {
    margin-top: rem-calc(36);
  }

  label {
    color: $white;
  }

  select, input:not([type=button], [type=submit]) {
    line-height: inherit;
    margin-top: rem-calc(8);
    height: rem-calc(48);
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);
  }

  select {
    background-image: url(../images/ic-chevron-light-small.svg);
    background-size: 10px 7px;
    background-position: right center;
  }

  .button {
    @include button-style($white, auto, $primary-color);
    margin: rem-calc(12 0 0);
    line-height: 1;
  }
}
