footer {
  background-color: $primary-color;
  color: $white;
  padding: rem-calc(36 20);

  a {
    color: $white;
    transition: .2s opacity;

    &:hover {
      color: $white;
      opacity: .5;
    }
  }

  .footer-logo { margin-bottom: rem-calc(24); }

  .social-icons {
    margin-bottom: rem-calc(24);
    vertical-align: middle;

    li {
      margin-right: rem-calc(20);

      &:last-child { margin-right: 0; }

      img { margin-right: 0; }
    }
  }

  .company-links {
    margin-bottom: rem-calc(24);

    &.menu > li {
      margin-right: rem-calc(4);

      &::after {
        content: ' |';
        margin-left: rem-calc(4);
      }

      &:last-child {
        &::after { content: none; }
      }

      > a {
        display: inline;
        line-height: unitless-calc(24);
      }
    }
  }

  p { margin-bottom: 0; }

  @include breakpoint(medium up) {
    padding: rem-calc(60 24);

    .footer-logo {
      margin-right: rem-calc(30);
      position: relative;
      top: rem-calc(-1);
    }

    .social-icons { display: inline-block; }
  }
}
