footer {
  padding: rem-calc(36 20);
  color: $white;
  background-color: $primary-color;

  .footer-logo {
    margin-bottom: rem-calc(16);
    position: relative;
    top: rem-calc(-1);
  }

  p {
    margin-bottom: rem-calc(24);
  }

  .menu.social-icons li {
    margin-right: rem-calc(20);

    &:last-child { margin-right: 0; }

    img { margin-right: 0; }
  }

  @include breakpoint(medium up) {
    padding: rem-calc(60 24);
  }

  @include breakpoint(large up) {
    p, .social-icons {
      display: inline-block;
    }

    .social-icons { vertical-align: middle; }

    .footer-logo, p {
      margin-bottom: 0;
      margin-right: rem-calc(30);
    }
  }
}
