$topbar-height: rem-calc(72);
$headband-height: rem-calc(8);

.top-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $topbar-height + $headband-height;
  padding-top: $headband-height;

  // Gradient variables
  $i: 100% / 6; // increment
  $p: $primary-color;
  $s: $secondary-color;

  &:before {
    display: block;
    height: $headband-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to right,
      $p $i,
      mix($p, $s, 90%) $i,
      mix($p, $s, 90%) $i * 2,
      mix($p, $s, 80%) $i * 2,
      mix($p, $s, 80%) $i * 3,
      mix($p, $s, 20%) $i * 3,
      mix($p, $s, 20%) $i * 4,
      mix($p, $s, 10%) $i * 4,
      mix($p, $s, 10%) $i * 5,
      $s $i * 5,
      $s 100%
    );
  }

  .top-bar-title {
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
  }

  .custom-menu-icon {
    margin-top: rem-calc(24);
    background-image: url(../images/ic-menu.svg);
    height: rem-calc(24);
    width: rem-calc(24);

    &.open {
      background-image: url(../images/ic-close.svg);
    }
  }

  .menu {
    a {
      padding: 0 rem-calc(15);
      color: $medium-gray;
      font-weight: bold;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      line-height: rem-calc(48);
      height: rem-calc(48);
    }

    .current a {
      color: $primary-color;
    }

    &:not(.vertical) {
      margin-right: rem-calc(-15);

      .current a {
        color: $medium-gray;
        border-bottom: 4px solid $primary-color;        
      }

      a {
        line-height: $topbar-height;
        height: $topbar-height;
      }
    }
  }
}