.nav-container {
  position: relative;
  z-index: 6; // above sticky things (they default to 5)
}

.top-bar {
  width: 100%;
  height: $header-height;
  padding-top: $headband-height;
  transition: box-shadow 0.2s;

  @include side-margins;

  &.is-stuck {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  // Gradient divs, workaround for chrome bug
  $p: $primary-color;
  $s: $secondary-color;

  .headband {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    div {
      flex: 1;
      height: $headband-height;

      &:nth-child(1) { background-color: $p; }
      &:nth-child(2) { background-color: mix($p, $s, 90%); }
      &:nth-child(3) { background-color: mix($p, $s, 80%); }
      &:nth-child(4) { background-color: mix($p, $s, 20%); }
      &:nth-child(5) { background-color: mix($p, $s, 10%); }
      &:nth-child(6) { background-color: $s; }
    }
  }

  .custom-menu-icon {
    margin-top: rem-calc(24);
    background-image: url(../images/ic-menu.svg);
    height: rem-calc(24);
    width: rem-calc(24);

    &.open {
      background-image: url(../images/ic-close.svg);
    }
  }

  #main-menu {
    .product-nav-icon {
      circle { stroke: currentColor; }
      path { fill: currentColor; }
    }

    a {
      padding: 0 rem-calc(15);
      color: $medium-gray;
      font-weight: bold;
      letter-spacing: rem-calc(0.8);
      text-transform: uppercase;
      transition: color 0.2s;

      &:hover {
        color: $primary-color;
      }
    }

    .active > a {
      color: $primary-color;
      background-color: inherit;

      &:hover {
        color: $primary-color;
      }
    }

    @include breakpoint(medium down) {
      background: rgba($white, 0.95);
      position: absolute;
      top: $header-height;
      left: 0;
      right: 0;
      overflow: auto;
      height: $panel-height;

      a {
        padding: 0 map-get($side-margins, small);
        line-height: rem-calc(48);
        height: rem-calc(48);
      }

      > .active > a {
        color: $medium-gray;
      }

      .menu {
        background: none;

        a {
          display: flex;
          flex-flow: row-reverse;
        }

        .product-nav-icon {
          margin: 0 0 0 rem-calc(16);
          @include flex-align-self(middle);
        }
      }
    }

    @include breakpoint(medium only) {
      min-width: rem-calc(320);
      left: auto;

      a {
        padding: 0 map-get($side-margins, medium);
      }
    }

    @include breakpoint(large up) {
      margin-right: rem-calc(-15);

      > .active > a {
        color: $medium-gray;
      }

      > .active > a {
        border-bottom: 4px solid $primary-color;
      }

      > li > a {
        line-height: $topbar-height;
        height: $topbar-height;
      }

      .dropdown-arrow {
        position: relative;
        top: rem-calc(-2);
        margin: 0 0 0 rem-calc(8);
        transition: transform 0.1s;

        path { fill: currentColor; }
      }

      li.is-active .dropdown-arrow {
        transform: rotate(180deg);
      }

      .menu {
        background: rgba($white, 0.95);
        padding: rem-calc(30 0 24);
        border: none;
        position: fixed;
        left: 0;
        top: $header-height;
        width: 100%;
        text-align: center;
        @include menu-icons(top);

        &:not(.is-dropdown-submenu) {
          display: none;
        }

        .product-nav-icon {
          margin-bottom: rem-calc(8);
        }

        li {
          width: rem-calc(116);
        }

        a {
          padding: 0;
        }
      }
    }
  }
}

// Avoid Foundation cascade issue
.is-dropdown-submenu.js-dropdown-active {
  display: flex;
  justify-content: center;
}

// Avoid FOUC
.no-js {
  @include breakpoint(medium down) {
    #main-menu {
      display: none;
    }
  }

  @include breakpoint(large up) {
    #menu-button, #main-menu .menu {
      display: none;
    }
  }
}
