.nav-container {
  position: relative;
  z-index: 1;
}

.top-bar {
  width: 100%;
  height: $topbar-height + $headband-height;
  padding-top: $headband-height;
  transition: box-shadow 0.2s;

  &.is-stuck {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  // Gradient variables
  $i: 100% / 6; // increment
  $p: $primary-color;
  $s: $secondary-color;

  &:before {
    display: block;
    height: $headband-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to right,
      $p $i,
      mix($p, $s, 90%) $i,
      mix($p, $s, 90%) $i * 2,
      mix($p, $s, 80%) $i * 2,
      mix($p, $s, 80%) $i * 3,
      mix($p, $s, 20%) $i * 3,
      mix($p, $s, 20%) $i * 4,
      mix($p, $s, 10%) $i * 4,
      mix($p, $s, 10%) $i * 5,
      $s $i * 5,
      $s 100%
    );
  }

  .custom-menu-icon {
    margin-top: rem-calc(24);
    background-image: url(../images/ic-menu.svg);
    height: rem-calc(24);
    width: rem-calc(24);

    &.open {
      background-image: url(../images/ic-close.svg);
    }
  }

  #main-menu {
    .product-nav-icon {
      circle { stroke: currentColor; }
      path { fill: currentColor; }
    }

    a {
      padding: 0 rem-calc(15);
      color: $medium-gray;
      font-weight: bold;
      letter-spacing: rem-calc(0.8);
      text-transform: uppercase;
      transition: color 0.2s;

      &:hover {
        color: $primary-color;
      }
    }

    .active > a {
      color: $primary-color;
      background-color: inherit;

      &:hover {
        color: $primary-color;
      }
    }

    @include breakpoint(medium down) {
      background: rgba($white, 0.95);
      position: absolute;
      top: $topbar-height + $headband-height;
      left: 0;
      right: 0;
      overflow: auto;
      height: calc(100vh - #{$topbar-height + $headband-height});

      a {
        line-height: rem-calc(48);
        height: rem-calc(48);
      }

      > .active > a {
        color: $medium-gray;
      }

      .menu {
        background: none;

        a {
          display: flex;
          flex-flow: row-reverse;
        }

        .product-nav-icon {
          margin: 0 0 0 rem-calc(16);
          @include flex-align-self(middle);
        }
      }
    }

    @include breakpoint(medium only) {
      min-width: rem-calc(320);
      left: auto;
    }

    @include breakpoint(large up) {
      margin-right: rem-calc(-15);

      > .active > a {
        color: $medium-gray;
      }

      > .active > a {
        border-bottom: 4px solid $primary-color;
      }

      > li > a {
        line-height: $topbar-height;
        height: $topbar-height;
      }

      .dropdown-arrow {
        margin: 0 0 0 rem-calc(8);
        transition: transform 0.1s;

        path { fill: currentColor; }
      }

      li.is-active .dropdown-arrow {
        transform: rotate(180deg);
      }

      .submenu {
        background: rgba($white, 0.95);
        padding: rem-calc(30 0 24);
        border: none;
        position: fixed;
        width: 100%;
        text-align: center;
        @include menu-icons(top);

        .product-nav-icon {
          margin-bottom: rem-calc(8);
        }

        li {
          display: inline-block;
          width: auto;
        }
      }
    }
  }
}
