.home {
  .hero {
    width: 100%; // fixes weird layout bug
    background-image: linear-gradient($primary-color, #2a7cc7);
  }

  section, article {
    background: no-repeat center;
    background-size: cover;
    height: calc(100vh - #{$topbar-height + $headband-height});
    color: $white;
    @include flex;
    position: relative;

    .product-icon {
      position: absolute;
      top: rem-calc(20);
      right: rem-calc(20);
      color: $white;

      circle { stroke: currentColor; }
      path { fill: currentColor; }
    }

    .content {
      width: 100%;
      @include flex-align-self(middle);
    }
  }
}
