.home {
  background: $primary-color;

  .hero {
    background-image: linear-gradient($primary-color, $primary-color-dark);
    position: relative;
    width: 100%; // fixes weird layout bug

    h1 {
      font-weight: $global-weight-normal;
    }

    .more-arrow {
      bottom: rem-calc(36);
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .pager {
    display: flex;
    height: $panel-height;
    pointer-events: none;
    position: fixed;
    right: map-get($side-margins, medium) - rem-calc(8);
    top: $header-height;
    width: rem-calc(26);
    z-index: 1;

    @include breakpoint(large up) {
      right: map-get($side-margins, large) - rem-calc(8);
    }

    .menu {
      @include flex-align-self(middle);
      pointer-events: auto;
    }

    li {
      margin: 0;
    }

    a {
      height: rem-calc(26);
      line-height: rem-calc(26);
      width: rem-calc(26);
    }

    i {
      border: solid rem-calc(1.5) $white;
      border-radius: rem-calc(5);
      height: rem-calc(10);
      margin: 0;
      width: rem-calc(10);
    }

    .active {
      i { background: $white; }
    }
  }

  section,
  article {
    @include flex;
    background: no-repeat center;
    background-size: cover;
    color: $white;
    height: $panel-height;
    overflow: hidden;
    padding: rem-calc(24 0);
    position: relative;

    @include breakpoint(medium) {
      height: $panel-height;
    }

    .product-icon {
      color: $white;
      margin-top: rem-calc(-24);
      order: 1;

      @include breakpoint(large) { margin-top: rem-calc(-36); }

      .sticky-content {
        @include side-margins(padding-top padding-right padding-bottom);

        @each $size, $margin in $side-margins {
          @include breakpoint($size) { margin-left: -(rem-calc(44) + $margin); }
        }
      }

      .disabled {
        cursor: not-allowed;
        opacity: .5;
      }

      circle { stroke: currentColor; }
      path { fill: currentColor; }
    }


    h2 {
      margin-bottom: rem-calc(24);

      @each $size, $headers in $header-styles {
        @include breakpoint($size) {
          font-size: rem-calc(map-deep-get($header-styles, $size, 'h1', 'font-size'));
          line-height: map-deep-get($header-styles, $size, 'h1', 'letter-spacing');
        }
      }
    }

    .content {
      @include flex-align-self(middle);
      width: 100%;
    }

    .button-group {
      margin: 0 rem-calc(-8 -16);
    }

    .button {
      margin: rem-calc(0 8 16);

      &:last-child {
        margin-right: rem-calc(8);
      }

      &.secondary {
        @include button-style($white, auto, $primary-color);
      }

      &.disabled {
        background-color: $medium-gray;
        opacity: .75;
      }
    }

    @include breakpoint(medium up) {
      padding: rem-calc(36 0);
    }
  }

  // Use the vertical layout for medium-sized portrait screens
  @media screen and #{breakpoint(medium only)} and #{breakpoint(portrait)} {
    .image-interest-left { background-position: 25%; }
    .image-interest-right { background-position: 75%; }

    article {
      .content { @include flex-align-self(bottom); }
    }

    .content {
      .columns {
        .medium-6 { @include grid-column-offset(3); }
      }
    }
  }

  @include breakpoint(small only) {
    .image-interest-left { background-position: 25%; }
    .image-interest-right { background-position: 75%; }

    article {
      .content { @include flex-align-self(bottom); }
    }
  }
}
