body.product {
  .background {
    height: 100%;
    width: 100%;
    background: no-repeat center fixed;
    background-size: cover;
    padding-top: 80vh;
  }

  .product-icon {
    position: fixed;
    top: $topbar-height + $headband-height + rem-calc(20);
    right: rem-calc(20);
  }

  .content {
    background-color: $white;
    @include breakpoint(medium up) { @include grid-column-collapse; }
  }

  article {
    padding: rem-calc(36 10);
    @include breakpoint(medium up) { padding: rem-calc(60) grid-column(2 of 12); }
    @include breakpoint(large up) { padding: rem-calc(60) grid-column(2 of 10); }
  }
}
