<div class="footer-container">
  <footer class="text-center">
    <div class="row">
      <div class="columns">
        <a href="http://www.ticketmaster.com" target="_blank">
          <img class="footer-logo" src="{% link assets/images/ticketmaster-logo-footer.svg %}" alt="ticketmaster®">
        </a>
        <p>© 1999–{{ site.time | date: '%Y' }} Ticketmaster. All rights reserved.</p>
        <ul class="social-icons menu simple">
          <li><a href="http://facebook.com/Ticketmaster" target="_blank"><img src="{% link assets/images/ic-social-facebook.svg %}" alt="Facebook"></a></li>
          <li><a href="http://twitter.com/ticketmaster" target="_blank"><img src="{% link assets/images/ic-social-twitter.svg %}" alt="Twitter"></a></li>
          <li><a href="https://plus.google.com/115274411439372300072?prsrc=3" target="_blank"><img src="{% link assets/images/ic-social-gplus.svg %}" alt="Google+"></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
