<div class="nav-container" data-sticky-container>
  <header class="top-bar" data-sticky data-options="marginTop:0;stickyOn:small;">
    <div class="top-bar-title">
      <a href="{% link index.html %}">
        <img src="{% link assets/images/tm-innovations-logo.svg %}" alt="tm/INNOVATIONS">
      </a>
    </div>
    <div>
      <div class="top-bar-right text-right">
        <span data-responsive-toggle="main-menu" data-toggle="menu-button" data-hide-for="large">
          <button id="menu-button" class="custom-menu-icon" type="button" data-toggle="main-menu" data-toggler="open"></button>
        </span>
        <ul id="main-menu" class="vertical large-horizontal menu">
          {% include nav.html %}
        </ul>
      </div>
    </div>
  </header>
</div>
