<header>
  <div class="top-bar">
    <div class="top-bar-title">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ 'assets/images/tm-innovations-logo.svg' | relative_url }}" alt="tm/INNOVATIONS">
      </a>
    </div>
    <div>
      <div class="top-bar-right">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <ul id="responsive-menu" class="menu">
          <li><a href="{{ '/' | relative_url }}">Products</a></li>
          <li><a href="{{ 'early-access.html' | relative_url }}">Early Access</a></li>
          <li><a href="http://insider.ticketmaster.com/tag/innovations" target="_blank">Insights</a></li>
          <li><a href="http://www.ticketmaster.com" target="_blank">Ticketmaster</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>