<header class="top-bar">
  <div class="top-bar-title">
    <a href="{% link index.html %}">
      <img src="{% link assets/images/tm-innovations-logo.svg %}" alt="tm/INNOVATIONS">
    </a>
  </div>
  <div>
    <div class="top-bar-right text-right">
      <span class="hide-for-large" data-toggle="main-menu menu-button">
        <button id="menu-button" class="custom-menu-icon" type="button" data-toggler="open"></button>
      </span>
      <ul id="main-menu" class="menu show-for-large" data-toggler="show-for-large vertical">
        {% include nav.html %}
      </ul>
    </div>
  </div>
</header>