{% capture home_url %}{% link index.html %}{% endcapture %}
{% capture eap_url %}{% link early-access.html %}{% endcapture %}

<li{% if home_url == page.url %} class="current"{% endif %}><a href="{{ home_url }}">Products</a></li>
<li{% if eap_url == page.url %} class="current"{% endif %}><a href="{{ eap_url }}">Early Access</a></li>
<li><a href="http://insider.ticketmaster.com/tag/innovations" target="_blank">Insights</a></li>
<li><a href="http://www.ticketmaster.com" target="_blank">Ticketmaster</a></li>
