{% assign navLinks = '/, early-access.html' | split: ', ' %}
{% assign navTitles = 'Products, Early Access' | split: ', ' %}

{% for item in navLinks %}
  {% assign title = navTitles[forloop.index0] %}
  {% assign link = item | relative_url %}
  {% if link == page.url %}
    <li class="current"><a href="{{ link }}">{{ title }}</a></li>
  {% else %}
    <li><a href="{{ link }}">{{ title }}</a></li>
  {% endif %}
{% endfor %}

<li><a href="http://insider.ticketmaster.com/tag/innovations" target="_blank">Insights</a></li>
<li><a href="http://www.ticketmaster.com" target="_blank">Ticketmaster</a></li>