---
layout: default
---
{% if page.detail-overlay %}
  {% capture overlay %}
    <div class="row overlay">
      {% if page.bg-image-interest == 'right' %}
        <div class="large-6 large-offset-1 columns">
      {% else %}
        <div class="large-6 large-offset-5 columns">
      {% endif %}
        {% assign ext = page.detail-overlay | split: '.' | last %}
        {% if ext == 'png' %}
          {% assign overlayImg1x = page.detail-overlay | prepend: 'assets/images/' | relative_url %}
          {% assign overlayImg2x = overlayImg1x | replace: '.png', '@2x.png' %}
          <img src="{{ overlayImg1x }}" srcset="{{ overlayImg2x }} 2x" alt="">
        {% else %}
          <img src="{{ page.detail-overlay | prepend: 'assets/images/' | relative_url }}" srcset="{{ page.detail-overlay | prepend: 'assets/images/' | relative_url }} 2x" alt="">
        {% endif %}
      </div>
    </div>
  {% endcapture %}
{% endif %}
{% if page.detail-image %}
  <div class="background" style="background-image:url({{ page.detail-image | prepend: 'assets/images/' | relative_url }})">{{ overlay }}</div>
{% else %}
  <div class="background image-interest-{{ page.bg-image-interest }}" style="background-image:url({{ page.bg-image | prepend: 'assets/images/' | relative_url }})">{{ overlay }}</div>
{% endif %}
<a href="{{ page.link }}" target="_blank">
  <img class="product-icon" src="{{ page.icon | prepend: 'assets/images/' | relative_url }}" alt="">
</a>
<div class="row small-collapse large-uncollapse">
  <div class="medium-12 large-10 large-centered columns content">
    <article>
      <div class="inner-content-container">
        <div class="inner-content">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </article>
    {% include footer.html %}
  </div>
</div>
